<%- include('partials/header') %>

<div class="centered-container">
  <div class="jumbotron text-center">
    <i class="fas fa-user-secret fa-6x mb-4"></i>
    <h1 class="display-4">Shh... It's a Secret!</h1>
    
    <p class="secret-text">
      <%= secret %>
    </p>
    
    <hr>
    
    <div class="mt-4">
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
      <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
